.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F3F5FC;
   
   
}

.myPopUp{
    display: inline-block;
        transition: opacity 500ms;
    
    
}
.pop {
    z-index: 1000;
    
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
    margin: auto;
    width: 15%;
    height:10%;
    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.397);
    border-radius: 32px;

    transition: all 5s ease-in;

}

.pop p{ 
    position: absolute;
    left: 0;
    right: 0;
   
    margin: auto;
    top: 25%;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    line-height: 100%;
    color: #0A3871; 
}

.pop .close{
    position: absolute;
    top: 60%;
    width: 40%;
    right: 0;
    left: 0;
    margin: auto;
    color: white;
    background: #0A3871;
    border-radius: 24px;

}
.close:hover{
    scale: 1.05;
    
    transition: 400ms ;
}

.logoA{
    position: absolute;
    padding-top: 40px;
    padding-left: 6%;
}

.insertText{
    /* Haciendo transparente el formate del cuadro de input */
    background: transparent;
    border: none;
    outline: none;

    position: absolute;
    width: 50%;
    height: 60%;
    left: 12%;
    top: 10%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

textarea::placeholder{
    /*Cambiando el color del placeholder para que sea igual
    al del texto ingresado*/
    color: #0A3871;
}

.warning {
    position: absolute;
    top: 80%;
    left: 12%;
    
    width: 229px;
    height: 18px;
}
.warning p{
   
    width: 500px;
    height: 18px;
    /*Alineando texto en medio*/
    display: flex;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;

    opacity: 0.8;

    

}

.encriptar,.desencriptar{
    transition: 1s;
    position: absolute;
    top: 85%;
    left: 12%;
        
    width: 20%;
    height: 67px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
    
    background: #0A3871;
    border-radius: 24px;
    
}
.desencriptar{
    color: #000000;
    background: #D8DFE8;
    
    left: 40%;
}
.copiar{
    display: none;
    transition: 1s;
    position: absolute;
    top: 88%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
        
    width: 60%;
    height: 67px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
    
    background: #0A3871;
    border-radius: 24px;
}

.encriptar:hover,.desencriptar:hover,.copiar:hover{
    
    scale: 1.05;
    filter: contrast(120%);
    transition: 400ms;
}

.rectangulo{
    position: absolute;
    width: 27%;
    height: 90%;
    right: 5%;
    top: 5%;
    bottom: 5%;

    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mujerBuscando{
    /*Poniendola en medio*/
    width: 80%;
    height: auto;
    position: absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 50px;
    margin: auto;
    
}

.mensajeDefault{
position: absolute;
width: 336px;
height: 58px;
bottom: 20%;


left:0;
right:0;
margin-left:auto;
margin-right:auto;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-align: center;


color: #343A40;



}

.mensajeDefaultDown{
position: absolute;
bottom: calc(20% - 2em);
left:0;
right:0;
margin-left:auto;
margin-right:auto;
    width: 336px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;

text-align: center;



color: #495057;



}
