.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F3F5FC;
   
}

.logoA{
    position: absolute;
    padding-top: 40px;
    padding-left: 84px;
}

.insertText{
    /* Haciendo transparente el formate del cuadro de input */
    background: transparent;
    border: none;
    outline: none;

    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

input::placeholder{
    /*Cambiando el color del placeholder para que sea igual
    al del texto ingresado*/
    color: #0A3871;
}

.warning {
    position: absolute;
    top: 80%;
    padding-left: 240px;
    width: 229px;
    height: 18px;
}
.warning p{
   
    width: 205px;
    height: 18px;
    /*Alineando texto en medio*/
    display: flex;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;

    opacity: 0.8;

    

}

.sendForm{
padding-top: 885px;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;


background: #0A3871;
border-radius: 24px;


}

.encriptar,.desencriptar{
    transition: 1s;
    position: absolute;
    top: 85%;
    left: 240px;
        
    width: 328px;
    height: 67px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
    
    background: #0A3871;
    border-radius: 24px;
    
}
.desencriptar{
    color: #000000;
    background: #D8DFE8;
    left: 650px;
}

.encriptar:hover,.desencriptar:hover{
    
    scale: 1.05;
    font-size: 20px;
    filter: contrast(115%);
    transition: 1s;
}
